body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
@font-face {
    font-family: Avenir-Light;
    src: url(../fonts/avenir-lt.ttf);
}
@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}
p{font-family: Avenir-Light;}
.avenir-light{font-family: Avenir-Light;}
.intro{font-family: Intro;}
.uppercase{text-transform: uppercase;};
.font90px{font-size: 90px;}
.width80{width: 80%;padding: 0 13%;}

.footer .copyright{ color: #aaa;padding: 15px 0;}
.nav .menubar{font-size:30px;cursor:pointer;}
.navbar.footer{z-index: 10;}
li.menubar a:hover { background: transparent;}
/* Custom CSS
 * --------------------------------------- */
body{
  font-family: 'Avenir-Light', sans-serif;
  color: #F2F2F2;
}
h1{
  font-size: 6em;
}
p{
  font-size: 2em;
}
.content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*text-align: center;*/
}
/*Navigation*/
.logo img {
    width: 200px;
}
.navbar-brand.logo {
    height: 65px;
}
/* nav Button
 * --------------------------------------- */
.slide-buttons {
    position: fixed;
    bottom: 50px;
    right: 45px;
    z-index: 100;
    display: inline;
}
.slide-buttons a {
    display: block;
    font-size: 25px !important;
    text-align: center;
    padding: 5px;
}
.slide_up {
    border: 2px solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.slide_up:hover{background: #337ab7; color: #fff;border: 2px solid #337ab7;}
.slide_down {

    border: 2px solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: none;
}
.slide_down:hover{background: #337ab7; color: #fff;border: 2px solid #337ab7;border-top: none;}
/* Menu
 * --------------------------------------- */
 .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* Section 1
 * --------------------------------------- */
#home{
  background-color: #ffffff;
}
#home h1.first_line{
  margin-top: 20px;
  color: #505050 ;
  line-height: 60px;
}
#home h1.second_line{
  color: #115883;
  line-height: 70px;
}
#home p{
  /*opacity: 0.4;*/
  font-size: 22px;
  color: #8E8E8E;
  line-height: 30px;
  margin-top: 20px;
}
p strong{color: #444;}
#home .content{top: 40%;}
#home h1.intro{}
#home h1.avenir-light{}
/* Section 2
 * --------------------------------------- */
#services .content{width: 90%;padding: 0 13%;}
#services{
  background-color: #ffffff;
}
#services #slide1 h1 {
  color: #3C3C3C;
  /*margin: 0 0 0 60px;*/
  padding-top: 40px;
  font-size: 80px;
  text-transform: uppercase;
}
#services #slide1 h3 {
  text-align: left;
  /*margin-left: 65px;*/
  font-size: 5.5em;
  line-height: 60px;
  color: #115883;
}
#services #slide1 .fa.fa-lightbulb-o {
    font-size: 550px;
    position: absolute;
    z-index: -1;
}
#services #slide1 p{
  /*opacity: 0.8;*/
  color: #8E8E8E;
  font-size: 20px;
}
#services #slide1 p.first_pre{margin-top: 100px;}

#services #slide2 .content{width: 100%;padding: 0 13%;}
#services #slide2 h1 {
  color: #3C3C3C;
  /*margin: 0 0 0 60px;*/
  padding-top: 40px;
  font-size: 80px;
  text-transform: uppercase;
}
#services #slide2 h3 {
  text-align: left;
  /*margin-left: 65px;*/
  font-size: 5.5em;
  line-height: 60px;
  color: #115883;
}
#services #slide2 .fa.fa-flask {
    font-size: 550px;
    position: absolute;
    z-index: -1;
}
#services #slide2  .media-object {
    text-align: center;
    display: inline-block;
}
#services #slide2  .media-object img{width: 150px;}
#services #slide2  .media {
    text-align: center;
    
}
#services #slide2 h4 {
    font-family: Intro;
    font-size: 25px;
    margin-top: 20px;
}
#services #slide2 .stack{ margin-top: 90px;}
#services #slide2 img {
  -webkit-filter: grayscale(1); /* Webkit */
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* W3C */
}
#services #slide2 img:hover {
  -webkit-filter: grayscale(0); /* Webkit */
  filter: none; /* IE6-9 */
  filter: grayscale(0); /* W3C */
}
/* Section 3
 * --------------------------------------- */
#reason .content{width: 90%;padding: 0 13%;}
#reason{
  background-color: #ffffff;
}
#reason h1 {
    color: #3C3C3C;
    /*margin: 0 0 0 60px;*/
    padding-top: 40px;
    font-size: 120px;
}
#reason h3 {
    text-align: left;
    /*margin-left: 65px;*/
    font-size: 6em;
    line-height: 20px;
    color: #115883

}
#reason p{
  /*opacity: 0.6;*/
  color: #8E8E8E;
  font-size: 20px;
}
#reason  .fa.fa-question {
    font-size: 550px;
    position: absolute;
    z-index: -1;
}
#reason p.first_pre{margin-top: 100px;}
/* Contact
 * --------------------------------------- */
#contact .content {
    height: 90%;
}
.google_map {
    height: 90%;
}
#map-canvas {
    height: 98%;
}
.address {
    position: absolute;
    width: 440px;
    color: #fff;
    z-index: 100;
    background: #a7a4a4;
    top: 180px;
    left: 50px;
    padding: 15px;
}
.address p{font-size: 20px;}
.address li {
    display: flex;
    margin-bottom: 10px;
}
.address .fa {
    font-size: 20px;
    margin-right: 20px;
}
.address  input.form-control{opacity: 0.8; margin-bottom: 10px; border-radius: 0;}
.address textarea{opacity: 0.8; margin-bottom: 10px; border-radius: 0;}
.address input[type = "submit"]{background: #115883;color: #fff;font-weight: 600;border:none; }
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}