---
title: Codemismatch - Invent | Ideate | Innovate  
---

<div id="superContainer" >
  <nav id="menu" class="transperent" role="navigation">
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand logo" href="/" ><img src="images/logo.png"></a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="menubar"><a href="#"><span onclick="openNav()">&#9776;</span></a></li>
            
            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
              </div>
            </div>
          </ul>
      </div>
    </div>
  </nav>
  <div class="slide-buttons">
    <a href="#" class="slide_up" id="moveSectionUp"><i class="fa fa-angle-up"></i></a>
    <a href="#" class="slide_down" id="moveSectionDown"><i class="fa fa-angle-down"></i></a>
  </div>
  <div id="fullpage">
    <div class="section " id="home">
      <div class="content">
        <div class="sin_wave"><canvas id="waves"></canvas></div> 
        <div class="width80" >
          <h1 class='avenir-light uppercase font90px first_line'>code</h1>
          <h1 class='intro second_line'>symphony</h1>
          <p>With a focus on delivering high quality innovative solutions, we put great emphasis on well tested code. <br>Thus our practices include <strong>Test driven development</strong> and <strong>Pair programming.</strong></p>
        </div>
      </div>
    </div>
    <div class="section" id="services">
      <div class="slide" id="slide1">
        <div class="content ">
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          <h1 class="avenir-light">Expert Solutions</h1>
          <h3 class="intro">Talented & Experienced <br>Developers</h3>
          <p class="first_pre">Our team has experience delivering well tested code guided by best practices in record time. Because we understand that time is the true essence in business.</p>
        </div>
      </div>
      <div class="slide" id="slide2">
        <div class="content">
          <i class="fa fa-flask" aria-hidden="true"></i>
          <h1 class="avenir-light">STACK </h1>
          <h3 class="intro">WE USE</h3>
          
          <div class="row stack">
            <div class="col-md-3 col-sm-4">
              <div class="media">
                <div class="media-object wow fadeIn" data-wow-delay="0.1s">
                  <img src="images/rails.png" class="img-responsive  lang" alt="Ruby on rails">
                </div>
                <div class="media-body wow fadeIn">
                  <h4 class="media-heading">Ruby on rails</h3>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="media">
                <div class="media-object  wow fadeIn" data-wow-delay="0.3s">
                  <img src="images/js1.png" class="img-responsive lang" alt="Javascript">
                </div>
                <div class="media-body wow fadeIn">
                  <h4 class="media-heading">Javascript</h3>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="media">
                <div class="media-object  wow fadeIn" data-wow-delay="0.6s">
                  <img src="images/golang.png" class="img-responsive lang" alt="Go">
                </div>
                <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                  <h4 class="media-heading">Go</h3>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="media">
                <div class="media-object  wow fadeIn" data-wow-delay="0.9s">
                  <img src="images/clojure.png" class="img-responsive lang" alt="Clojure">
                </div>
                <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                  <h4 class="media-heading">Clojure</h3>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <!-- <div class="slide" id="slide2">
        <div class="content">
          <h1>More slides!</h1>
        </div>
      </div> -->
    </div>
    <div class="section" id="reason">
      <div class="content">
        <i class="fa fa-question" aria-hidden="true"></i>
        <h1 class="avenir-light">Raison d'être</h1>
        <h3 class="intro">reason to be</h3>
        <p class="first_pre">Codemismatch is a boutique web shop. We have over five years of experience delivering engineering solutions built around agile and test driven development philosophies.</p>
        <p>We started with the goal to fill the gap in high quality affordable offshore software development.</p>
        <p>We understand the strength and weaknesses of our tech stack. Backed with our experience we are competent enough to advice and choose the right tool for the job, in order to provide beautifully designed, carefully tested , high quality application software delivered on time.</p>
        <p><mark> Our Motto :  Invent | Ideate | Innovate  </mark></p>
      </div>
    </div>
    <div class="section" id="contact">
      <div class="content">
        <h1 class="text-center">Contact</h1>
        <div class="google_map">
          <div id="map-canvas"></div> 
        </div>
        <div class="address">
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>A-203 Sakal 24, Near Savita green party plot, behind shreenath bunglows, Chandkheda, Ahmedabad, Gujarat, India</p></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i><p>+917990233778</p></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><p>business@codemismatch.com</p></li>
          </ul>
          <div class=" row contact_form">
            <form action="http://formspree.io/codemismatch@gmail.com" method="post" class="col-md-12 col-sm-12" id="contact-form" role="form">
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                <input name="name" type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
              </div>
              <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                <input name="submit" type="submit" class="form-control" id="submit" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom footer" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar">
          <li class="copyright">Copyright © 2016 Codemismatch</li>
          <li><a href="#" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
          <li><a href="#" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="http://medium.com/@codemismatch" target="_blank" class="smoothScroll"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
$(document).ready(function() {
  $('#moveSectionUp').click(function(e){
    e.preventDefault();
    fullpage.moveSectionUp();
  });

  $('#moveSectionDown').click(function(e){
    e.preventDefault();
    fullpage.moveSectionDown();
  });
});

// Sin Wave 
var waves = new SineWaves({
  el: document.getElementById('waves'),
  
  speed: 4,
  
  width: function() {
    return $(window).width();
  },
  
  height: function() {
    return 250;
  },
  
  ease: 'SineInOut',
  
  wavesWidth: '90%',
  
  waves: [
    {
      timeModifier: 4,
      lineWidth: 1,
      amplitude: -25,
      wavelength: 25
    },
    {
      timeModifier: 2,
      lineWidth: 2,
      amplitude: -50,
      wavelength: 50
    },
    {
      timeModifier: 1,
      lineWidth: 1,
      amplitude: -100,
      wavelength: 100
    },
    {
      timeModifier: 0.5,
      lineWidth: 3,
      amplitude: -80,
      wavelength: 80
    },
    {
      timeModifier: 0.7,
      lineWidth: 2,
      amplitude: -120,
      wavelength: 130
    }
  ],  
 
  // Called on window resize
  resizeEvent: function() {
    var gradient = this.ctx.createLinearGradient(0, 0, this.width, 0);
    gradient.addColorStop(0,"rgba(17,88,131, 0.8)");
    gradient.addColorStop(0.5,"rgba(20,123,184, 0.5)");
    gradient.addColorStop(1,"rgba(17,88,131, 0.8)");
    
    var index = -1;
    var length = this.waves.length;
    while(++index < length){
      this.waves[index].strokeStyle = gradient;
    }
    
    // Clean Up
    index = void 0;
    length = void 0;
    gradient = void 0;
  }
});
</script>